@import './base.css';

#app {
  height: 100vh;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif, Microsoft YaHei;
  font-size:17px;
}

.layouts{
    .navs{
        background-color: #909399;
        height: 48px;
        line-height: 48px;
    }
    .main{
        display:flex;
        justify-content: flex-start;
        width:100%;
        min-height:100%;
        &-left{
            width:228px;
            height: calc(100vh - 48px);
            background-color: #909399;
        }
        &-right{
            width:100%;
            min-height:calc(100vh - 48px);
            padding:4rem;
            background-color: #FFFFFF;
        }
    }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


ul{
    list-style: none;
    padding:0;
    margin:0;
    li{
     padding-top: 0.3rem ;
     cursor: pointer;
    }
}

.title{
    color:#213547;
    font-size:19px;
    font-weight: 600;
}

.padding-left-20{
    padding-left:20px;
}
.padding-left-15{
    padding-left:15px;
}